RewriteEngine on
RewriteRule ^examples$ https://www.reddit.com/r/Python/comments/34982z/what_cool_program_to_automate_a_daily_task_did/ [L]

RewriteRule ^boringcoin https://docs.google.com/spreadsheets/d/1sVCG1b3pfOAzuaFItLj4I8aN8kjvVDO0S78SIP1KNZQ/edit?usp=sharing [L]
RewriteRule ^examplegs https://docs.google.com/spreadsheets/d/1TzOJxhNKr15tzdZxTqtQ3EmDP6em_elnbtmZIcyu8vI/ [L]

RewriteRule ^billiondollarmistake https://www.infoq.com/presentations/Null-References-The-Billion-Dollar-Mistake-Tony-Hoare/ [L]
RewriteRule ^zophie.png$ https://automatetheboringstuff.com/src/zophie.png [L]
RewriteRule ^excelSpreadsheets.zip$  [L]
RewriteRule ^renameDates.py$ https://automatetheboringstuff.com/src/renameDates.py [L]
RewriteRule ^merged.xlsx$ https://automatetheboringstuff.com/src/merged.xlsx [L]
RewriteRule ^encryptedminutes.pdf$ https://automatetheboringstuff.com/src/encryptedminutes.pdf [L]
RewriteRule ^removeCsvHeader.zip$ https://automatetheboringstuff.com/src/removeCsvHeader.zip [L]
RewriteRule ^htmlregex$ http://stackoverflow.com/a/1732454/1893164 [L]
RewriteRule ^errorExample.py$ https://automatetheboringstuff.com/src/errorExample.py [L]
RewriteRule ^getDocxText.py$ https://automatetheboringstuff.com/src/getDocxText.py [L]
RewriteRule ^morning-glory.jpg$ https://automatetheboringstuff.com/src/morning-glory.jpg [L]
RewriteRule ^catnapping.py$ https://automatetheboringstuff.com/src/catnapping.py [L]
RewriteRule ^twiliostatus$ https://www.twilio.com/docs/api/rest/message#error-values [L]
RewriteRule ^produceSales.xlsx$ https://automatetheboringstuff.com/src/produceSales.xlsx [L]
RewriteRule ^multipleParagraphs.docx$ https://automatetheboringstuff.com/src/multipleParagraphs.docx [L]
RewriteRule ^hello.py$ https://automatetheboringstuff.com/src/hello.py [L]
RewriteRule ^gmail_search$  [L]
RewriteRule ^inventory.py$ https://automatetheboringstuff.com/src/inventory.py [L]
RewriteRule ^threadDemo.py$ https://automatetheboringstuff.com/src/threadDemo.py [L]
RewriteRule ^helloFunc2.py$ https://automatetheboringstuff.com/src/helloFunc2.py [L]
RewriteRule ^countdown.py$ https://automatetheboringstuff.com/src/countdown.py [L]
RewriteRule ^joelunicode$ http://www.joelonsoftware.com/articles/Unicode.html [L]
RewriteRule ^removeBorder.py$ https://automatetheboringstuff.com/src/removeBorder.py [L]
RewriteRule ^censuspopdata.xlsx$ https://automatetheboringstuff.com/src/censuspopdata.xlsx [L]
RewriteRule ^backupToZip.py$ https://automatetheboringstuff.com/src/backupToZip.py [L]
RewriteRule ^sameName.py$ https://automatetheboringstuff.com/src/sameName.py [L]
RewriteRule ^myPets.py$ https://automatetheboringstuff.com/src/myPets.py [L]
RewriteRule ^allMyCats2.py$ https://automatetheboringstuff.com/src/allMyCats2.py [L]
RewriteRule ^guessTheNumber.py$ https://automatetheboringstuff.com/src/guessTheNumber.py [L]
RewriteRule ^isPhoneNumber.py$ https://automatetheboringstuff.com/src/isPhoneNumber.py [L]
RewriteRule ^formFiller.py$ https://automatetheboringstuff.com/src/formFiller.py [L]
RewriteRule ^styled.xlsx$ https://automatetheboringstuff.com/src/styled.xlsx [L]
RewriteRule ^multidownloadxkcd.py$ https://automatetheboringstuff.com/src/multidownloadxkcd.py [L]
RewriteRule ^stopwatch.py$ https://automatetheboringstuff.com/src/stopwatch.py [L]
RewriteRule ^example.csv$ https://automatetheboringstuff.com/src/example.csv [L]
RewriteRule ^tictactoe-example1.py$ https://automatetheboringstuff.com/src/tictactoe-example1.py [L]
RewriteRule ^form$ https://docs.google.com/forms/d/1A39NpQYMN8OOG-_lqDLFQb2h1SiHhCxPh0udtDEy2rU/viewform?usp=send_form [L]
RewriteRule ^meetingminutes2.pdf$ https://automatetheboringstuff.com/src/meetingminutes2.pdf [L]
RewriteRule ^lucky.py$ https://automatetheboringstuff.com/src/lucky.py [L]
RewriteRule ^characterCount.py$ https://automatetheboringstuff.com/src/characterCount.py [L]
RewriteRule ^census2010.py$ https://automatetheboringstuff.com/src/census2010.py [L]
RewriteRule ^example.html$ https://automatetheboringstuff.com/src/example.html [L]
RewriteRule ^sameName2.py$ https://automatetheboringstuff.com/src/sameName2.py [L]
RewriteRule ^JSONAPIs$ http://www.programmableweb.com/category/all/apis?data_format=21173 [L]
RewriteRule ^freezeExample.xlsx$ https://automatetheboringstuff.com/src/freezeExample.xlsx [L]
RewriteRule ^mouseNow.py$ https://automatetheboringstuff.com/src/mouseNow.py [L]
RewriteRule ^bitwise$  [L]
RewriteRule ^combinePDFs.py$ https://automatetheboringstuff.com/src/combinePDFs.py [L]
RewriteRule ^textmyself.py$ https://automatetheboringstuff.com/src/textmyself.py [L]
RewriteRule ^mcb.pyw$ https://automatetheboringstuff.com/src/mcb.pyw [L]
RewriteRule ^schedulers$ https://automatetheboringstuff.com/schedulers/ [L]
RewriteRule ^mouseNow2.py$ https://automatetheboringstuff.com/src/mouseNow2.py [L]
RewriteRule ^pw.py$ https://automatetheboringstuff.com/src/pw.py [L]
RewriteRule ^dimensions.xlsx$ https://automatetheboringstuff.com/src/dimensions.xlsx [L]
RewriteRule ^phoneandemail.py$ https://automatetheboringstuff.com/src/phoneandemail.py [L]
RewriteRule ^teachregex$ http://www.theguardian.com/technology/2012/dec/04/ict-teach-kids-regular-expressions [L]
RewriteRule ^styles.xlsx$ https://automatetheboringstuff.com/src/styles.xlsx [L]
RewriteRule ^removeCsvHeader.py$ https://automatetheboringstuff.com/src/removeCsvHeader.py [L]
RewriteRule ^boxprint.py$ https://automatetheboringstuff.com/src/boxprint.py [L]
RewriteRule ^birthdays.py$ https://automatetheboringstuff.com/src/birthdays.py [L]
RewriteRule ^comics$ https://automatetheboringstuff.com/list-of-web-comics/ [L]
RewriteRule ^vampire.py$ https://automatetheboringstuff.com/src/vampire.py [L]
RewriteRule ^pdfmetadata$ http://www.verypdf.com/pdfinfoeditor/pdf-information-manager.html [L]
RewriteRule ^zeroDivide.py$ https://automatetheboringstuff.com/src/zeroDivide.py [L]
RewriteRule ^sendDuesReminders.py$ https://automatetheboringstuff.com/src/sendDuesReminders.py [L]
RewriteRule ^gmail$ https://support.google.com/accounts/answer/185833 [L]
RewriteRule ^demo.docx$ https://automatetheboringstuff.com/src/demo.docx [L]
RewriteRule ^bulletpointadder.py$ https://automatetheboringstuff.com/src/bulletpointadder.py [L]
RewriteRule ^dictionary.txt$ https://automatetheboringstuff.com/src/dictionary.txt [L]
RewriteRule ^factorialLog.py$ https://automatetheboringstuff.com/src/factorialLog.py [L]
RewriteRule ^sms$ https://www.twilio.com/blog/2014/05/send-and-receive-sms-messages-via-email-with-twilio-and-sendgrid.html [L]
RewriteRule ^sushi$ http://inventwithpython.com/blog/2014/12/17/programming-a-bot-to-play-the-sushi-go-round-flash-game/ [L]
RewriteRule ^watermark.pdf$ https://automatetheboringstuff.com/src/watermark.pdf [L]
RewriteRule ^example.xlsx$ https://automatetheboringstuff.com/src/example.xlsx [L]
RewriteRule ^regex$  [L]
RewriteRule ^combinedminutes.pdf$ https://automatetheboringstuff.com/src/combinedminutes.pdf [L]
RewriteRule ^helloFunc.py$ https://automatetheboringstuff.com/src/helloFunc.py [L]
RewriteRule ^picnicTable.py$ https://automatetheboringstuff.com/src/picnicTable.py [L]
RewriteRule ^duesRecords.xlsx$ https://automatetheboringstuff.com/src/duesRecords.xlsx [L]
RewriteRule ^debugExample.py$ https://automatetheboringstuff.com/src/debugExample.py [L]
RewriteRule ^restyled.docx$ https://automatetheboringstuff.com/src/restyled.docx [L]
RewriteRule ^updatedProduceSales.xlsx$ https://automatetheboringstuff.com/src/updatedProduceSales.xlsx [L]
RewriteRule ^example.zip$ https://automatetheboringstuff.com/src/example.zip [L]
RewriteRule ^downloadxkcd.py$ https://automatetheboringstuff.com/src/downloadxkcd.py [L]
RewriteRule ^headings.docx$ https://automatetheboringstuff.com/src/headings.docx [L]
RewriteRule ^allMyCats1.py$ https://automatetheboringstuff.com/src/allMyCats1.py [L]
RewriteRule ^magic8ball2.py$ https://automatetheboringstuff.com/src/magic8ball2.py [L]
RewriteRule ^sameName3.py$ https://automatetheboringstuff.com/src/sameName3.py [L]
RewriteRule ^alarm.wav$ https://automatetheboringstuff.com/src/alarm.wav [L]
RewriteRule ^quickweather.py$ https://automatetheboringstuff.com/src/quickweather.py [L]
RewriteRule ^twoPage.docx$ https://automatetheboringstuff.com/src/twoPage.docx [L]
RewriteRule ^magic8ball.py$ https://automatetheboringstuff.com/src/magic8ball.py [L]
RewriteRule ^sampleChart.xlsx$ https://automatetheboringstuff.com/src/sampleChart.xlsx [L]
RewriteRule ^guests.txt$ https://automatetheboringstuff.com/src/guests.txt [L]
RewriteRule ^coinFlip.py$ https://automatetheboringstuff.com/src/coinFlip.py [L]
RewriteRule ^torrentStarter.py$ https://automatetheboringstuff.com/src/torrentStarter.py [L]
RewriteRule ^randomQuizGenerator.py$ https://automatetheboringstuff.com/src/randomQuizGenerator.py [L]
RewriteRule ^resizeAndAddLogo.py$ https://automatetheboringstuff.com/src/resizeAndAddLogo.py [L]
RewriteRule ^calcprod.py$ https://automatetheboringstuff.com/src/calcprod.py [L]
RewriteRule ^readCensusExcel.py$ https://automatetheboringstuff.com/src/readCensusExcel.py [L]
RewriteRule ^colors$  [L]
RewriteRule ^threadworms$ http://inventwithpython.com/blog/2013/04/22/multithreaded-python-tutorial-with-threadworms/ [L]
RewriteRule ^helloworld.docx$ https://automatetheboringstuff.com/src/helloworld.docx [L]
RewriteRule ^strftime$ http://strftime.net/ [L]
RewriteRule ^updateProduce.py$ https://automatetheboringstuff.com/src/updateProduce.py [L]
RewriteRule ^sameName4.py$ https://automatetheboringstuff.com/src/sameName4.py [L]
RewriteRule ^mapit.py$ https://automatetheboringstuff.com/src/mapit.py [L]
RewriteRule ^prettyCharacterCount.py$ https://automatetheboringstuff.com/src/prettyCharacterCount.py [L]
RewriteRule ^meetingminutes.pdf$ https://automatetheboringstuff.com/src/meetingminutes.pdf [L]
RewriteRule ^pragmaticunicode$ http://nedbatchelder.com/text/unipain.html [L]
RewriteRule ^passingReference.py$ https://automatetheboringstuff.com/src/passingReference.py [L]
RewriteRule ^encrypted.pdf$ https://automatetheboringstuff.com/src/encrypted.pdf [L]

RewriteRule ^2e/c10 https://automatetheboringstuff.com/2e/chapter10 [L]
RewriteRule ^2e/c11 https://automatetheboringstuff.com/2e/chapter11 [L]
RewriteRule ^2e/c12 https://automatetheboringstuff.com/2e/chapter12 [L]
RewriteRule ^2e/c13 https://automatetheboringstuff.com/2e/chapter13 [L]
RewriteRule ^2e/c14 https://automatetheboringstuff.com/2e/chapter14 [L]
RewriteRule ^2e/c15 https://automatetheboringstuff.com/2e/chapter15 [L]
RewriteRule ^2e/c16 https://automatetheboringstuff.com/2e/chapter16 [L]
RewriteRule ^2e/c17 https://automatetheboringstuff.com/2e/chapter17 [L]
RewriteRule ^2e/c18 https://automatetheboringstuff.com/2e/chapter18 [L]
RewriteRule ^2e/c19 https://automatetheboringstuff.com/2e/chapter19 [L]
RewriteRule ^2e/c20 https://automatetheboringstuff.com/2e/chapter20 [L]
RewriteRule ^2e/c1 https://automatetheboringstuff.com/2e/chapter1 [L]
RewriteRule ^2e/c2 https://automatetheboringstuff.com/2e/chapter2 [L]
RewriteRule ^2e/c3 https://automatetheboringstuff.com/2e/chapter3 [L]
RewriteRule ^2e/c4 https://automatetheboringstuff.com/2e/chapter4 [L]
RewriteRule ^2e/c5 https://automatetheboringstuff.com/2e/chapter5 [L]
RewriteRule ^2e/c6 https://automatetheboringstuff.com/2e/chapter6 [L]
RewriteRule ^2e/c7 https://automatetheboringstuff.com/2e/chapter7 [L]
RewriteRule ^2e/c8 https://automatetheboringstuff.com/2e/chapter8 [L]
RewriteRule ^2e/c9 https://automatetheboringstuff.com/2e/chapter9 [L]
RewriteRule ^2e/a https://automatetheboringstuff.com/2e/apendixa [L]
RewriteRule ^2e/b https://automatetheboringstuff.com/2e/apendixb [L]
RewriteRule ^2e/c https://automatetheboringstuff.com/2e/apendixc [L]
