RewriteEngine on
RewriteRule ^examples$ https://www.reddit.com/r/Python/comments/34982z/what_cool_program_to_automate_a_daily_task_did/ [L]

RewriteRule ^zophie.png$ http://automatetheboringstuff.com/src/zophie.png [L]
RewriteRule ^excelSpreadsheets.zip$  [L]
RewriteRule ^renameDates.py$ http://automatetheboringstuff.com/src/renameDates.py [L]
RewriteRule ^merged.xlsx$ http://automatetheboringstuff.com/src/merged.xlsx [L]
RewriteRule ^encryptedminutes.pdf$ http://automatetheboringstuff.com/src/encryptedminutes.pdf [L]
RewriteRule ^removeCsvHeader.zip$ http://automatetheboringstuff.com/src/removeCsvHeader.zip [L]
RewriteRule ^htmlregex$ http://stackoverflow.com/a/1732454/1893164 [L]
RewriteRule ^errorExample.py$ http://automatetheboringstuff.com/src/errorExample.py [L]
RewriteRule ^getDocxText.py$ http://automatetheboringstuff.com/src/getDocxText.py [L]
RewriteRule ^morning-glory.jpg$ http://automatetheboringstuff.com/src/morning-glory.jpg [L]
RewriteRule ^catnapping.py$ http://automatetheboringstuff.com/src/catnapping.py [L]
RewriteRule ^twiliostatus$ https://www.twilio.com/docs/api/rest/message#error-values [L]
RewriteRule ^produceSales.xlsx$ http://automatetheboringstuff.com/src/produceSales.xlsx [L]
RewriteRule ^multipleParagraphs.docx$ http://automatetheboringstuff.com/src/multipleParagraphs.docx [L]
RewriteRule ^hello.py$ http://automatetheboringstuff.com/src/hello.py [L]
RewriteRule ^gmail_search$  [L]
RewriteRule ^inventory.py$ http://automatetheboringstuff.com/src/inventory.py [L]
RewriteRule ^threadDemo.py$ http://automatetheboringstuff.com/src/threadDemo.py [L]
RewriteRule ^helloFunc2.py$ http://automatetheboringstuff.com/src/helloFunc2.py [L]
RewriteRule ^countdown.py$ http://automatetheboringstuff.com/src/countdown.py [L]
RewriteRule ^joelunicode$ http://www.joelonsoftware.com/articles/Unicode.html [L]
RewriteRule ^removeBorder.py$ http://automatetheboringstuff.com/src/removeBorder.py [L]
RewriteRule ^censuspopdata.xlsx$ http://automatetheboringstuff.com/src/censuspopdata.xlsx [L]
RewriteRule ^backupToZip.py$ http://automatetheboringstuff.com/src/backupToZip.py [L]
RewriteRule ^sameName.py$ http://automatetheboringstuff.com/src/sameName.py [L]
RewriteRule ^myPets.py$ http://automatetheboringstuff.com/src/myPets.py [L]
RewriteRule ^allMyCats2.py$ http://automatetheboringstuff.com/src/allMyCats2.py [L]
RewriteRule ^guessTheNumber.py$ http://automatetheboringstuff.com/src/guessTheNumber.py [L]
RewriteRule ^isPhoneNumber.py$ http://automatetheboringstuff.com/src/isPhoneNumber.py [L]
RewriteRule ^formFiller.py$ http://automatetheboringstuff.com/src/formFiller.py [L]
RewriteRule ^styled.xlsx$ http://automatetheboringstuff.com/src/styled.xlsx [L]
RewriteRule ^multidownloadxkcd.py$ http://automatetheboringstuff.com/src/multidownloadxkcd.py [L]
RewriteRule ^stopwatch.py$ http://automatetheboringstuff.com/src/stopwatch.py [L]
RewriteRule ^example.csv$ http://automatetheboringstuff.com/src/example.csv [L]
RewriteRule ^tictactoe-example1.py$ http://automatetheboringstuff.com/src/tictactoe-example1.py [L]
RewriteRule ^form$ https://docs.google.com/forms/d/1A39NpQYMN8OOG-_lqDLFQb2h1SiHhCxPh0udtDEy2rU/viewform?usp=send_form [L]
RewriteRule ^meetingminutes2.pdf$ http://automatetheboringstuff.com/src/meetingminutes2.pdf [L]
RewriteRule ^lucky.py$ http://automatetheboringstuff.com/src/lucky.py [L]
RewriteRule ^characterCount.py$ http://automatetheboringstuff.com/src/characterCount.py [L]
RewriteRule ^census2010.py$ http://automatetheboringstuff.com/src/census2010.py [L]
RewriteRule ^example.html$ http://automatetheboringstuff.com/src/example.html [L]
RewriteRule ^sameName2.py$ http://automatetheboringstuff.com/src/sameName2.py [L]
RewriteRule ^JSONAPIs$ http://www.programmableweb.com/category/all/apis?data_format=21173 [L]
RewriteRule ^freezeExample.xlsx$ http://automatetheboringstuff.com/src/freezeExample.xlsx [L]
RewriteRule ^mouseNow.py$ http://automatetheboringstuff.com/src/mouseNow.py [L]
RewriteRule ^bitwise$  [L]
RewriteRule ^combinePDFs.py$ http://automatetheboringstuff.com/src/combinePDFs.py [L]
RewriteRule ^textmyself.py$ http://automatetheboringstuff.com/src/textmyself.py [L]
RewriteRule ^mcb.pyw$ http://automatetheboringstuff.com/src/mcb.pyw [L]
RewriteRule ^schedulers$ http://automatetheboringstuff.com/schedulers/ [L]
RewriteRule ^mouseNow2.py$ http://automatetheboringstuff.com/src/mouseNow2.py [L]
RewriteRule ^pw.py$ http://automatetheboringstuff.com/src/pw.py [L]
RewriteRule ^dimensions.xlsx$ http://automatetheboringstuff.com/src/dimensions.xlsx [L]
RewriteRule ^phoneandemail.py$ http://automatetheboringstuff.com/src/phoneandemail.py [L]
RewriteRule ^teachregex$ http://www.theguardian.com/technology/2012/dec/04/ict-teach-kids-regular-expressions [L]
RewriteRule ^styles.xlsx$ http://automatetheboringstuff.com/src/styles.xlsx [L]
RewriteRule ^removeCsvHeader.py$ http://automatetheboringstuff.com/src/removeCsvHeader.py [L]
RewriteRule ^boxprint.py$ http://automatetheboringstuff.com/src/boxprint.py [L]
RewriteRule ^birthdays.py$ http://automatetheboringstuff.com/src/birthdays.py [L]
RewriteRule ^comics$ http://automatetheboringstuff.com/list-of-web-comics/ [L]
RewriteRule ^vampire.py$ http://automatetheboringstuff.com/src/vampire.py [L]
RewriteRule ^pdfmetadata$ http://www.verypdf.com/pdfinfoeditor/pdf-information-manager.html [L]
RewriteRule ^zeroDivide.py$ http://automatetheboringstuff.com/src/zeroDivide.py [L]
RewriteRule ^sendDuesReminders.py$ http://automatetheboringstuff.com/src/sendDuesReminders.py [L]
RewriteRule ^gmail$ https://support.google.com/accounts/answer/185833 [L]
RewriteRule ^demo.docx$ http://automatetheboringstuff.com/src/demo.docx [L]
RewriteRule ^bulletpointadder.py$ http://automatetheboringstuff.com/src/bulletpointadder.py [L]
RewriteRule ^dictionary.txt$ http://automatetheboringstuff.com/src/dictionary.txt [L]
RewriteRule ^factorialLog.py$ http://automatetheboringstuff.com/src/factorialLog.py [L]
RewriteRule ^sms$ https://www.twilio.com/blog/2014/05/send-and-receive-sms-messages-via-email-with-twilio-and-sendgrid.html [L]
RewriteRule ^sushi$ http://inventwithpython.com/blog/2014/12/17/programming-a-bot-to-play-the-sushi-go-round-flash-game/ [L]
RewriteRule ^watermark.pdf$ http://automatetheboringstuff.com/src/watermark.pdf [L]
RewriteRule ^example.xlsx$ http://automatetheboringstuff.com/src/example.xlsx [L]
RewriteRule ^regex$  [L]
RewriteRule ^combinedminutes.pdf$ http://automatetheboringstuff.com/src/combinedminutes.pdf [L]
RewriteRule ^helloFunc.py$ http://automatetheboringstuff.com/src/helloFunc.py [L]
RewriteRule ^picnicTable.py$ http://automatetheboringstuff.com/src/picnicTable.py [L]
RewriteRule ^duesRecords.xlsx$ http://automatetheboringstuff.com/src/duesRecords.xlsx [L]
RewriteRule ^debugExample.py$ http://automatetheboringstuff.com/src/debugExample.py [L]
RewriteRule ^restyled.docx$ http://automatetheboringstuff.com/src/restyled.docx [L]
RewriteRule ^updatedProduceSales.xlsx$ http://automatetheboringstuff.com/src/updatedProduceSales.xlsx [L]
RewriteRule ^example.zip$ http://automatetheboringstuff.com/src/example.zip [L]
RewriteRule ^downloadxkcd.py$ http://automatetheboringstuff.com/src/downloadxkcd.py [L]
RewriteRule ^headings.docx$ http://automatetheboringstuff.com/src/headings.docx [L]
RewriteRule ^allMyCats1.py$ http://automatetheboringstuff.com/src/allMyCats1.py [L]
RewriteRule ^magic8ball2.py$ http://automatetheboringstuff.com/src/magic8ball2.py [L]
RewriteRule ^sameName3.py$ http://automatetheboringstuff.com/src/sameName3.py [L]
RewriteRule ^alarm.wav$ http://automatetheboringstuff.com/src/alarm.wav [L]
RewriteRule ^quickweather.py$ http://automatetheboringstuff.com/src/quickweather.py [L]
RewriteRule ^twoPage.docx$ http://automatetheboringstuff.com/src/twoPage.docx [L]
RewriteRule ^magic8ball.py$ http://automatetheboringstuff.com/src/magic8ball.py [L]
RewriteRule ^sampleChart.xlsx$ http://automatetheboringstuff.com/src/sampleChart.xlsx [L]
RewriteRule ^guests.txt$ http://automatetheboringstuff.com/src/guests.txt [L]
RewriteRule ^coinFlip.py$ http://automatetheboringstuff.com/src/coinFlip.py [L]
RewriteRule ^torrentStarter.py$ http://automatetheboringstuff.com/src/torrentStarter.py [L]
RewriteRule ^randomQuizGenerator.py$ http://automatetheboringstuff.com/src/randomQuizGenerator.py [L]
RewriteRule ^resizeAndAddLogo.py$ http://automatetheboringstuff.com/src/resizeAndAddLogo.py [L]
RewriteRule ^calcprod.py$ http://automatetheboringstuff.com/src/calcprod.py [L]
RewriteRule ^readCensusExcel.py$ http://automatetheboringstuff.com/src/readCensusExcel.py [L]
RewriteRule ^colors$  [L]
RewriteRule ^threadworms$ http://inventwithpython.com/blog/2013/04/22/multithreaded-python-tutorial-with-threadworms/ [L]
RewriteRule ^helloworld.docx$ http://automatetheboringstuff.com/src/helloworld.docx [L]
RewriteRule ^strftime$ http://strftime.net/ [L]
RewriteRule ^updateProduce.py$ http://automatetheboringstuff.com/src/updateProduce.py [L]
RewriteRule ^sameName4.py$ http://automatetheboringstuff.com/src/sameName4.py [L]
RewriteRule ^mapit.py$ http://automatetheboringstuff.com/src/mapit.py [L]
RewriteRule ^prettyCharacterCount.py$ http://automatetheboringstuff.com/src/prettyCharacterCount.py [L]
RewriteRule ^meetingminutes.pdf$ http://automatetheboringstuff.com/src/meetingminutes.pdf [L]
RewriteRule ^pragmaticunicode$ http://nedbatchelder.com/text/unipain.html [L]
RewriteRule ^passingReference.py$ http://automatetheboringstuff.com/src/passingReference.py [L]
RewriteRule ^encrypted.pdf$ http://automatetheboringstuff.com/src/encrypted.pdf [L]
