{% extends "base.html" %}
{% set title = 'Automate the Boring Stuff with Python' %}
{% block content %}

<div>

<h1>Automate the Boring Stuff with Python</h1>

<div>By Al Sweigart. Free to read under a <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons license</a>.<br /><br /></div>

<div>
<a name="toc"></a><h2>Table of Contents</h2>

            <ul>
            <li><a href="/2e/chapter0/">Chapter  0 &#8211; Introduction</a></li>
            <li><a href="/2e/chapter1/">Chapter  1 &#8211; Python Basics</a></li>
            <li><a href="/2e/chapter2/">Chapter  2 &#8211; Flow Control</a></li>
            <li><a href="/2e/chapter3/">Chapter  3 &#8211; Functions</a></li>
            <li><a href="/2e/chapter4/">Chapter  4 &#8211; Lists</a></li>
            <li><a href="/2e/chapter5/">Chapter  5 &#8211; Dictionaries and Structuring Data</a></li>
            <li><a href="/2e/chapter6/">Chapter  6 &#8211; Manipulating Strings</a></li>
            <li><a href="/2e/chapter7/">Chapter  7 &#8211; Pattern Matching with Regular Expressions</a></li>
            <li><a href="/2e/chapter8/">Chapter  8 &#8211; Input Validation</a></li>
            <li><a href="/2e/chapter9/">Chapter  9 &#8211; Reading and Writing Files</a></li>
            <li><a href="/2e/chapter10/">Chapter 10 &#8211; Organizing Files</a></li>
            <li><a href="/2e/chapter11/">Chapter 11 &#8211; Debugging</a></li>
            <li><a href="/2e/chapter12/">Chapter 12 &#8211; Web Scraping</a></li>
            <li><a href="/2e/chapter13/">Chapter 13 &#8211; Working with Excel Spreadsheets</a></li>
            <li><a href="/2e/chapter14/">Chapter 14 &#8211; Working with Google Spreadsheets</a></li>
            <li><a href="/2e/chapter15/">Chapter 15 &#8211; Working with PDF and Word Documents</a></li>
            <li><a href="/2e/chapter16/">Chapter 16 &#8211; Working with CSV Files and JSON Data</a></li>
            <li><a href="/2e/chapter17/">Chapter 17 &#8211; Keeping Time, Scheduling Tasks, and Launching Programs</a></li>
            <li><a href="/2e/chapter18/">Chapter 18 &#8211; Sending Email and Text Messages</a></li>
            <li><a href="/2e/chapter19/">Chapter 19 &#8211; Manipulating Images</a></li>
            <li><a href="/2e/chapter20/">Chapter 20 &#8211; Controlling the Keyboard and Mouse with GUI Automation</a></li>
            <li><a href="/2e/appendixa/">Appendix A &#8211; Installing Third-Party Modules</a></li>
            <li><a href="/2e/appendixb/">Appendix B &#8211; Running Programs</a></li>
            <li><a href="/2e/appendixc/">Appendix C &#8211; Answers to the Practice Questions</a></li>
            </ul>
</div>

<p><a href="/chapter0/">(Read the 1st edition book.)</a></p>

</div>

{% endblock %}
