{% extends "base.html" %}
{% set title = 'How to Do PyCon (or any tech conference)' %}
{% block content %}
				
<h1>How to Do PyCon (or any tech conference)</h1>

<p><a href="https://www.humblebundle.com/books/joy-of-coding-book-bundle">(Quick plug! You can buy the Automate the Boring Stuff with Python ebook for $1 in the Humble Bundle until Monday!)</a></p>

<p>Here's the advice I give about attending PyCon (or any technical conference) that I found myself repeating, so I thought I should write them up in a short post. Note that this blog post is fairly opinionated, so it reflects my priorities which might not be the same as yours.</p>

<ul>
<li>Meeting people is more important than the talks.</li>
<li>Use shirt color to meet a diverse set of people.</li>
<li>Don't eat alone, eat with strangers not friends.</li>
<li>Freely hand out your business card.</li>
<li>Remember people you've met and follow up.</li>
<li>Twitter is great for followup.</li>
<li>The Goal of a Conference is to Meet People</li>
</li>

<p>If you haven't met anyone (and followed up with them), you're doing conferences wrong. Meeting people is more important than seeing talks. In fact, go ahead and skip talks and talk to people in the halls.</p>

<p>Remember people's names. Make the effort to remember them, and soon after the conversation, write it down somewhere. I keep a text file on my computer where I write names and details (what city they live in, where they work, what we talked about) so I don't forget.</p>

<h2>Shirt Color Trick</h2>

<p>I have the bad habit of approaching people who remind me of myself: age, gender, ethnicity, fluent English speaker, whether they "seem nerdy" or not. You want to meet a diverse set of people: people you ordinarily wouldn't talk to. I use a shirt color trick.</p>

<p>Pick a color besides black, grey, or blue and find the closest person wearing a shirt of that color. Go up and talk to them, no matter who they are. So if you pick green, find the closest person in a green shirt. If there's nobody wearing a green shirt, pick a new color. Picking an uncommon color limits your choice of people to talk to, which limits how much your bias can influence you.</p>

<h2>Ditch Your Friends</h2>

<p>Talk to strangers. It's comfortable to hang out with friends, but resist the temptation. When you show up for a lunch or dinner, find a table with people you know and sit at another table. If you are with your friends, try to include strangers who are standing/sitting nearby.</p>

<h2>Don't Eat Alone</h2>

<p>PyCon has several lunches and dinners. Some of the dinners require you to buy a ticket to them during registration. Buy a ticket to all of them (or do this for next year's PyCon). Don't eat by yourself. Each at the conference's lunches and talk to other people. Don't sit with your friends, but join tables with people you don't know. If you don't have Sponsor booths in the expo halls will have fliers for after-party events as well.</p>

<h2>Ditch the Talks</h2>

<p>You don't have to attend the talks. In fact, ditch them so you can meet people in the hallway. The talks will be posted online. If there is a speaker you want to meet, go to their talk, and sit front and center.</p>

<p>(Attend talks that you like, but don't feel like you have to fill up your entire time with talks. And the keynotes are great to see in person rather than in a web browser.)</p>

<h2>Business Cards</h2>

<p>Get business cards printed, and bring a large amount of them with you. It's better to have extras left over than run out halfway through the conference. They're good parting gifts to exchange at the end of a conversation. If you are buying cards for yourself, order the minimum quantity of cards. Ordering a 1000 cards might be cheapest per card, but you'll want to change the design or the information on them far before you finish handing them out.</p>

<p>Here's what I have on my card:</p>

<ul>
<li>My name, using the first name that I want people to call me by (Al, not Albert).</li>
<li>My email address.</li>
<li>My Twitter handle. (<a href="https://twitter.com/AlSweigart">@AlSweigart</a>)</li>
<li>My website.</li>
</ul>

<p>Not my phone number. Not my address. (You should feel comfortable if someone posted your business card online.) You can write this info on the card if they need it.
When you receive someone else's card, on the back write the details of how you met them and what you talked about. Write “PyCon 2016” on the card for when you find their card several months from now.</p>

<h2>Twitter Account &amp; Followup</h2>

<p>Get a Twitter account, even if you never post anything to it. I've found it to be a great way to casually maintain a connection with people I've met. Writing a direct email is time consuming and direct. But replying to a tweet they post is a great, low-commitment way to enter a conversation with them.</p>

		
{% endblock %}
