{% extends "base.html" %}
{% set title = 'Automate the Boring Stuff with Python' %}
{% block content %}

<div>

<h1>Automate the Boring Stuff with Python</h1>

<div>By Al Sweigart. Free to read under a <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons license</a>.<br /><br /></div>


<div>    <h2 style="margin-top: 20px">New Book: "Beyond the Boring Stuff with Python"</h2>

      <center>You've read a beginner resource like <a href="https://nostarch.com/automatestuff2">Automate the Boring Stuff with Python</a> or <a href="https://nostarch.com/pythoncrashcourse2e">Python Crash Course</a>, but still don't feel like a "real" programmer? Beyond the Basic Stuff covers software development tools and best practices so you can code like a professional. <a href="https://nostarch.com/beyond-basic-stuff-python">Available in November 2020, but you can use discount code PREORDER for 25% off.</a><br />
      <a href="https://nostarch.com/beyond-basic-stuff-python"><img src="images/cover_beyond_thumb.png" alt="Cover image of Beyond the Boring Stuff with Python"/></a><br/>
      </center>
    </div>



<div>
	<h2 style="margin-top: 20px">Second Edition of Automate the Boring Stuff with Python</h2>
	<center><a href="https://nostarch.com/automatestuff2"><img src="images/automate_2e_cover.png"  alt="Cover image of Automate the Boring Stuff with Python, 2nd Edition" width="250px"/></a><br/>

<a href="https://nostarch.com/automatestuff">Purchase directly from the publisher to get free PDF, Kindle, and epub ebook copies.</a><br />
<a href="https://www.amazon.com/gp/product/1593279922/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593279922&linkCode=as2&tag=playwithpyth-20&linkId=ee4ebe796322bf7f7598b85afaefb44a">Buy on Amazon</a><br />
</center></div>

<div><center>
<br /><br />
<a href="https://inventwithpython.com/automateudemy"><img src="/images/automate_udemy_course_logo.jpg"></a><br />
<a href="https://inventwithpython.com/automateudemy">Use this link to sign up for the Automate the Boring Stuff with Python online course on Udemy.</a><br />
<a href="https://www.youtube.com/watch?v=1F_OgqRuSdI&list=PL0-84-yl1fUnRuXGFe_F7qSH1LEnn9LkW">Preview the first 15 of the course's 50 videos for free on YouTube.</a>
</center></div>


<blockquote>"The best part of programming is the triumph of seeing the machine do something useful. Automate the Boring Stuff with Python frames all of programming as these small triumphs; it makes the boring fun." <br />
<strong>- <a href="https://twitter.com/hmason">Hilary Mason</a></strong>, Founder of <a href="http://www.fastforwardlabs.com/">Fast Forward Labs</a> and Data Scientist in Residence at <a href="http://www.accel.com/">Accel</a></blockquote>

<blockquote>"I'm having a lot of fun breaking things and then putting them back together, and just remembering the joy of turning a set of instructions into something useful and fun, like I did when I was a kid." <br />
<strong>- <a href="https://twitter.com/wilw">Wil Wheaton</a></strong>, <a href="http://wilwheaton.net/2015/09/hello-world/">WIL WHEATON dot NET</a></blockquote>

<!--
<blockquote>Automate the Boring Stuff with Python is recommended on the <strong><a href="http://opensource.com/life/15/6/2015-summer-reading-list">Open Source Summer 2015 Reading List</a>!</strong></blockquote>
-->

<h2>Practical programming for total beginners.</h2>

<p>If you've ever spent hours renaming files or updating hundreds of spreadsheet cells, you know how tedious tasks like these can be. But what if you could have your computer do them for you?</p>

<p>In Automate the Boring Stuff with Python, you'll learn how to use Python to write programs that do in minutes what would take you hours to do by hand-no prior programming experience required. Once you've mastered the basics of programming, you'll create Python programs that effortlessly perform useful and impressive feats of automation to:</p>

<ul>
<li>Search for text in a file or across multiple files</li>
<li>Create, update, move, and rename files and folders</li>
<li>Search the Web and download online content</li>
<li>Update and format data in Excel spreadsheets of any size</li>
<li>Split, merge, watermark, and encrypt PDFs</li>
<li>Send reminder emails and text notifications</li>
<li>Fill out online forms</li>
</ul>

<p>Step-by-step instructions walk you through each program, and practice projects at the end of each chapter challenge you to improve those programs and use your newfound skills to automate similar tasks.</p>
<p>Don't spend your time doing work a well-trained monkey could do. Even if you've never written a line of code, you can make your computer do the grunt work. Learn how in Automate the Boring Stuff with Python.</p>

<h2>Udemy Online Video Course</h2>

<p><a href="https://inventwithpython.com/automateudemy"><img src="/images/automate_udemy_course_logo.jpg" /></a></p>

<p>The <a href="https://inventwithpython.com/automateudemy">Automate the Boring Stuff with Python Programming</a> online course on Udemy covers most of the content of the book. If you'd prefer a video format for learning to program, you can use <a href="https://inventwithpython.com/automateudemy">this link to get a 70% discount</a>. You will have lifetime access to the course content and can post questions to the course's forums.</p>

<p>You can preview the <a href="https://www.youtube.com/watch?v=1F_OgqRuSdI&list=PL0-84-yl1fUnRuXGFe_F7qSH1LEnn9LkW">first 15 of the course's 50 videos on YouTube for free</a>.</p>

<p><a href="https://www.amazon.com/gp/product/1593279922/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593279922&linkCode=as2&tag=playwithpyth-20&linkId=ee4ebe796322bf7f7598b85afaefb44a">Like this book? Writing a review helps get it in front of more people!</a></p>

<a name="toc"></a><h2>Table of Contents</h2>

			<ul>
			<li><a href="/2e/chapter0/">Chapter  0 &#8211; Introduction</a></li>
			<li><a href="/2e/chapter1/">Chapter  1 &#8211; Python Basics</a></li>
			<li><a href="/2e/chapter2/">Chapter  2 &#8211; Flow Control</a></li>
			<li><a href="/2e/chapter3/">Chapter  3 &#8211; Functions</a></li>
			<li><a href="/2e/chapter4/">Chapter  4 &#8211; Lists</a></li>
			<li><a href="/2e/chapter5/">Chapter  5 &#8211; Dictionaries and Structuring Data</a></li>
			<li><a href="/2e/chapter6/">Chapter  6 &#8211; Manipulating Strings</a></li>
			<li><a href="/2e/chapter7/">Chapter  7 &#8211; Pattern Matching with Regular Expressions</a></li>
			<li><a href="/2e/chapter8/">Chapter  8 &#8211; Input Validation</a></li>
			<li><a href="/2e/chapter9/">Chapter  9 &#8211; Reading and Writing Files</a></li>
			<li><a href="/2e/chapter10/">Chapter 10 &#8211; Organizing Files</a></li>
			<li><a href="/2e/chapter11/">Chapter 11 &#8211; Debugging</a></li>
			<li><a href="/2e/chapter12/">Chapter 12 &#8211; Web Scraping</a></li>
			<li><a href="/2e/chapter13/">Chapter 13 &#8211; Working with Excel Spreadsheets</a></li>
			<li><a href="/2e/chapter14/">Chapter 14 &#8211; Working with Google Spreadsheets</a></li>
			<li><a href="/2e/chapter15/">Chapter 15 &#8211; Working with PDF and Word Documents</a></li>
			<li><a href="/2e/chapter16/">Chapter 16 &#8211; Working with CSV Files and JSON Data</a></li>
			<li><a href="/2e/chapter17/">Chapter 17 &#8211; Keeping Time, Scheduling Tasks, and Launching Programs</a></li>
			<li><a href="/2e/chapter18/">Chapter 18 &#8211; Sending Email and Text Messages</a></li>
			<li><a href="/2e/chapter19/">Chapter 19 &#8211; Manipulating Images</a></li>
			<li><a href="/2e/chapter20/">Chapter 20 &#8211; Controlling the Keyboard and Mouse with GUI Automation</a></li>
			<li><a href="/2e/appendixa/">Appendix A &#8211; Installing Third-Party Modules</a></li>
			<li><a href="/2e/appendixb/">Appendix B &#8211; Running Programs</a></li>
			<li><a href="/2e/appendixc/">Appendix C &#8211; Answers to the Practice Questions</a></li>
			</ul>


<p><a href="/chapter0/">(Read the 1st edition.)</a></p>

<!--
<h2>Review Book Offer<a name="review"></a></h2>

	<p>If you'd like to receive a free print copy of Automate the Boring Stuff with Python, please email the author at <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a>. Please specify you want "Automate the Boring Stuff with Python". You'll receive a free ebook to read, and upon posting a review to Amazon, you will receive a complementary print review copy of the book. (UPDATE: There's been a large amount of interest, and I can't guarantee you'll get a print book. However, I can definitely send you an ebook to review.)</p>

	<p><strong>To demonstrate that you will be able to write a review, please send me a link to an Amazon, Goodreads, or Powells review you have written before.</strong> If you haven't written an Amazon review before, please explicitly tell me in your email you have an Amazon account and can post reviews. I'm happy to send out books to reviewers, but I can only respond to serious inquiries from folks who have read these instructions.</p>

	<p>Please post an honest review. Posting a negative review will not impact whether or not you get a free print book. The only requirements are that the review be a minimum of 100 words, you must live within the United States (due to shipping costs), that you must have purchased $50 of products off Amazon (to be eligible to post Amazon reviews), and that you email me first before writing the review.</p>

	<p>Thanks!</p>
-->

<h2>Additional Content</h2>

			<ul>
			<li><a href="https://www.nostarch.com/download/Automate_the_Boring_Stuff_onlinematerials.zip">Download files used in the book</a></li>
			<li><a href="/list-of-css-selector-tutorials.html">List of CSS Selector Tutorials</a></li>
			<li><a href="/list-of-json-apis.html">List of JSON APIs</a></li>
			<li><a href="/list-of-programming-practice-sites.html">List of Programming Practice Sites</a></li>
			<li><a href="/list-of-web-comics.html">List of Web Comics</a></li>
			<li><a href="/schedulers.html">Schedulers for Windows, Mac, and Linux</a></li>
			<li><a href="/how-to-do-pycon.html">How to Do PyCon (or any tech conference)</a></li>
			</ul>


<h2>About the Author</h2>

<p>Al Sweigart is a software developer and teaches programming to kids and adults. He has written several books for beginners, including <a href="https://www.nostarch.com/scratchplayground">Scratch Programming Playground</a>, <a href="https://inventwithpython.com/cracking/">Cracking Codes with Python</a>, <a href="https://inventwithpython.com/">Invent Your Own Computer Games with Python</a>, and <a href="https://inventwithpython.com/pygame/">Making Games with Python &amp; Pygame</a></p>


</div>
{% endblock %}
