{% extends "secondeditionbase.html" %}
{% set title = 'Automate the Boring Stuff with Python' %}
{% block content %}

<div>
<h1>Automate the Boring Stuff with Python</h1>

<p>By Al Sweigart. Over 285,000 copies sold. <a href="#toc">Free to read</a> under a <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC license</a>.<br /><br /></p>

<p>"The best part of programming is the triumph of seeing the machine do something useful. Automate the Boring Stuff with Python frames all of programming as these small triumphs; it makes the boring fun." <br />
<strong>- <a href="https://twitter.com/hmason">Hilary Mason</a></strong>, Data Scientist and Founder of <a href="http://www.fastforwardlabs.com/">Fast Forward Labs</a></p>

<p>"I'm having a lot of fun breaking things and then putting them back together, and just remembering the joy of turning a set of instructions into something useful and fun, like I did when I was a kid." <br />
<strong>- <a href="https://twitter.com/wilw">Wil Wheaton</a></strong>, <a href="http://wilwheaton.net/2015/09/hello-world/">WilWheaton.net</a></p>

<h2>Practical Programming for Total Beginners</h2>

<p>If you've ever spent hours renaming files or updating hundreds of spreadsheet cells, you know how tedious tasks like these can be. But what if you could have your computer do them for you?</p>

<p>In <a href="#toc">Automate the Boring Stuff with Python</a>, you'll learn how to use Python to write programs that do in minutes what would take you hours to do by hand - no prior programming experience required. Once you've mastered the basics of programming, you'll create Python programs that effortlessly perform useful and impressive feats of automation to:</p>

<ul>
<li>Search for text in a file or across multiple files</li>
<li>Create, update, move, and rename files and folders</li>
<li>Search the Web and download online content</li>
<li>Update and format data in Excel spreadsheets of any size</li>
<li>Split, merge, watermark, and encrypt PDFs</li>
<li>Send reminder emails and text notifications</li>
<li>Fill out online forms</li>
</ul>

<p>Step-by-step instructions walk you through each program, and practice projects at the end of each chapter challenge you to improve those programs and use your newfound skills to automate similar tasks.</p>
<p>Don't spend your time doing work a well-trained monkey could do. Even if you've never written a line of code, you can make your computer do the grunt work. Learn how in Automate the Boring Stuff with Python.</p>


<h2 style="margin-top: 20px">New Book: "The Big Book of Small Python Projects"</h2>

<div>
	<center><a href="https://nostarch.com/big-book-small-python-projects"><img src="https://inventwithpython.com/images/cover_bigbookpython_thumb.jpg" alt="Cover image of The Big Book of Small Python Projects"/></a><br/></center>
	You've read a beginner resource like <a href="https://nostarch.com/automatestuff2">Automate the Boring Stuff with Python</a> or <a href="https://nostarch.com/pythoncrashcourse2e">Python Crash Course</a>, but still feel stuck when you sit down to write your own programs? <a href="https://nostarch.com/big-book-small-python-projects">The Big Book of Small Python Projects</a> has 81 games, puzzles, art, simulations, and other programs designed to be simple enough for beginners to read through their code and get inspiration.
</div>


<div>
<h2 style="margin-top: 20px">Online Video Course on Udemy</h2>
<center>
<a href="https://inventwithpython.com/automateudemy"><img src="/images/automate_udemy_course_logo.jpg" alt="Udemy course logo"></a></center><br />
This video course follows much (though not all) of the content of the book. <a href="https://inventwithpython.com/automateudemy">Use this link to apply a 60% discount code.</a> Or preview <a href="https://www.youtube.com/watch?v=1F_OgqRuSdI&amp;list=PL0-84-yl1fUnRuXGFe_F7qSH1LEnn9LkW">the first 15 course videos for free on YouTube.</a>
</div>

<a name="toc"></a><h2>Table of Contents</h2>

			<ul>
			<li><a href="/2e/chapter0/">Introduction</a></li>
			<li><a href="/2e/chapter1/">Chapter  1 &#8211; Python Basics</a></li>
			<li><a href="/2e/chapter2/">Chapter  2 &#8211; Flow Control</a></li>
			<li><a href="/2e/chapter3/">Chapter  3 &#8211; Functions</a></li>
			<li><a href="/2e/chapter4/">Chapter  4 &#8211; Lists</a></li>
			<li><a href="/2e/chapter5/">Chapter  5 &#8211; Dictionaries and Structuring Data</a></li>
			<li><a href="/2e/chapter6/">Chapter  6 &#8211; Manipulating Strings</a></li>
			<li><a href="/2e/chapter7/">Chapter  7 &#8211; Pattern Matching with Regular Expressions</a></li>
			<li><a href="/2e/chapter8/">Chapter  8 &#8211; Input Validation</a></li>
			<li><a href="/2e/chapter9/">Chapter  9 &#8211; Reading and Writing Files</a></li>
			<li><a href="/2e/chapter10/">Chapter 10 &#8211; Organizing Files</a></li>
			<li><a href="/2e/chapter11/">Chapter 11 &#8211; Debugging</a></li>
			<li><a href="/2e/chapter12/">Chapter 12 &#8211; Web Scraping</a></li>
			<li><a href="/2e/chapter13/">Chapter 13 &#8211; Working with Excel Spreadsheets</a></li>
			<li><a href="/2e/chapter14/">Chapter 14 &#8211; Working with Google Spreadsheets</a></li>
			<li><a href="/2e/chapter15/">Chapter 15 &#8211; Working with PDF and Word Documents</a></li>
			<li><a href="/2e/chapter16/">Chapter 16 &#8211; Working with CSV Files and JSON Data</a></li>
			<li><a href="/2e/chapter17/">Chapter 17 &#8211; Keeping Time, Scheduling Tasks, and Launching Programs</a></li>
			<li><a href="/2e/chapter18/">Chapter 18 &#8211; Sending Email and Text Messages</a></li>
			<li><a href="/2e/chapter19/">Chapter 19 &#8211; Manipulating Images</a></li>
			<li><a href="/2e/chapter20/">Chapter 20 &#8211; Controlling the Keyboard and Mouse with GUI Automation</a></li>
			<li><a href="/2e/appendixa/">Appendix A &#8211; Installing Third-Party Modules</a></li>
			<li><a href="/2e/appendixb/">Appendix B &#8211; Running Programs</a></li>
			<li><a href="/2e/appendixc/">Appendix C &#8211; Answers to the Practice Questions</a></li>
			</ul>


<p><a href="/chapter0/">(Link to the older 1st edition.)</a></p>

<h2>Additional Content</h2>

			<ul>
			<li><a href="https://www.nostarch.com/download/Automate_the_Boring_Stuff_onlinematerials.zip">Download files used in the book</a></li>
			<li><a href="/list-of-css-selector-tutorials.html">List of CSS Selector Tutorials</a></li>
			<li><a href="/list-of-json-apis.html">List of JSON APIs</a></li>
			<li><a href="/list-of-programming-practice-sites.html">List of Programming Practice Sites</a></li>
			<li><a href="/list-of-web-comics.html">List of Web Comics</a></li>
			<li><a href="/schedulers.html">Schedulers for Windows, Mac, and Linux</a></li>
			<li><a href="/how-to-do-pycon.html">How to Do PyCon (or any tech conference)</a></li>
			</ul>


<h2>About the Author</h2>

<p>Al Sweigart is a software developer and teaches programming to kids and adults. He has written several books for beginners and makes them freely available at <a href="https://inventwithpython.com">InventWithPython.com</a>. His personal website is <a href="https://alsweigart.com">AlSweigart.com</a>. You can follow @AlSweigart on <a href="https://twitter.com/AlSweigart">Twitter</a> and <a href="https://twitch.tv/alsweigart">Twitch</a>.</p>


</div>
{% endblock %}
