{% extends "base.html" %}
{% set title = 'Automate the Boring Stuff with Python' %}
{% block content %}

<div>

<h1>Automate the Boring Stuff with Python</h1>

<div>Practical programming for total beginners. Written by Al Sweigart.</div>

<div>Free to read under a <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons license</a>.<br /><br /></div>

<div><center><a href="http://www.amazon.com/gp/product/1593275994/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593275994&linkCode=as2&tag=playwithpyth-20&linkId=HDM7V3T6RHC5VVN4"><img src="images/automate_cover_medium.png"  alt="Cover image of Automate the Boring Stuff with Python"/></a></center></div>

<!--
<blockquote>"The best part of programming is the triumph of seeing the machine do something useful. Automate the Boring Stuff with Python frames all of programming as these small triumphs; it makes the boring fun." <br />
<strong>- <a href="https://twitter.com/hmason">Hilary Mason</a></strong>, Founder of <a href="http://www.fastforwardlabs.com/">Fast Forward Labs</a> and Data Scientist in Residence at <a href="http://www.accel.com/">Accel</a></blockquote>

<blockquote>"I'm having a lot of fun breaking things and then putting them back together, and just remembering the joy of turning a set of instructions into something useful and fun, like I did when I was a kid." <br />
<strong>- <a href="https://twitter.com/wilw">Wil Wheaton</a></strong>, <a href="http://wilwheaton.net/2015/09/hello-world/">WIL WHEATON dot NET</a></blockquote>

<blockquote>Automate the Boring Stuff with Python is recommended on the <strong><a href="http://opensource.com/life/15/6/2015-summer-reading-list">Open Source Summer 2015 Reading List</a>!</strong></blockquote>
-->
<h2>Learn to Code</h2>

<p>If you've ever spent hours renaming files or updating hundreds of spreadsheet cells, you know how tedious tasks like these can be. But what if you could have your computer do them for you?</p>
<p>In Automate the Boring Stuff with Python, you'll learn how to use Python to write programs that do in minutes what would take you hours to do by hand-no prior programming experience required. Once you've mastered the basics of programming, you'll create Python programs that effortlessly perform useful and impressive feats of automation to:</p>

<ul>
<li>Search for text in a file or across multiple files</li>
<li>Create, update, move, and rename files and folders</li>
<li>Search the Web and download online content</li>
<li>Update and format data in Excel spreadsheets of any size</li>
<li>Split, merge, watermark, and encrypt PDFs</li>
<li>Send reminder emails and text notifications</li>
<li>Fill out online forms</li>
</ul>

<p>Step-by-step instructions walk you through each program, and practice projects at the end of each chapter challenge you to improve those programs and use your newfound skills to automate similar tasks.</p>
<p>Don't spend your time doing work a well-trained monkey could do. Even if you've never written a line of code, you can make your computer do the grunt work. Learn how in Automate the Boring Stuff with Python.</p>

<h2>Udemy Online Video Course</h2>

<p><center><a href="https://www.udemy.com/automate/?couponCode=FOR_LIKE_10_BUCKS"><img src="/images/automate_udemy_course_logo.jpg" alt="udemy course logo" /></a></center></p>

<p>The <a href="https://www.udemy.com/automate/?couponCode=FOR_LIKE_10_BUCKS">Automate the Boring Stuff with Python Programming</a> online course on Udemy.com covers most of the content of the book. If you'd prefer a video format for learning to program, you can use the discount code <a href="https://www.udemy.com/automate/?couponCode=FOR_LIKE_10_BUCKS">FOR_LIKE_10_BUCKS</a> to get an 80% discount. You will have lifetime access to the course content and can post questions to the course's forums.</p>

<a name="toc"></a><h2>Table of Contents</h2>

			<ul>
			<li><a href="/chapter0/">Chapter  0 &#8211; Introduction</a></li>
			<li><a href="/chapter1/">Chapter  1 &#8211; Python Basics</a></li>
			<li><a href="/chapter2/">Chapter  2 &#8211; Flow Control</a></li>
			<li><a href="/chapter3/">Chapter  3 &#8211; Functions</a></li>
			<li><a href="/chapter4/">Chapter  4 &#8211; Lists</a></li>
			<li><a href="/chapter5/">Chapter  5 &#8211; Dictionaries and Structuring Data</a></li>
			<li><a href="/chapter6/">Chapter  6 &#8211; Manipulating Strings</a></li>
			<li><a href="/chapter7/">Chapter  7 &#8211; Pattern Matching with Regular Expressions</a></li>
			<li><a href="/chapter8/">Chapter  8 &#8211; Reading and Writing Files</a></li>
			<li><a href="/chapter9/">Chapter  9 &#8211; Organizing Files</a></li>
			<li><a href="/chapter10/">Chapter 10 &#8211; Debugging</a></li>
			<li><a href="/chapter11/">Chapter 11 &#8211; Web Scraping</a></li>
			<li><a href="/chapter12/">Chapter 12 &#8211; Working with Excel Spreadsheets</a></li>
			<li><a href="/chapter13/">Chapter 13 &#8211; Working with PDF and Word Documents</a></li>
			<li><a href="/chapter14/">Chapter 14 &#8211; Working with CSV Files and JSON Data</a></li>
			<li><a href="/chapter15/">Chapter 15 &#8211; Keeping Time, Scheduling Tasks, and Launching Programs</a></li>
			<li><a href="/chapter16/">Chapter 16 &#8211; Sending Email and Text Messages</a></li>
			<li><a href="/chapter17/">Chapter 17 &#8211; Manipulating Images</a></li>
			<li><a href="/chapter18/">Chapter 18 &#8211; Controlling the Keyboard and Mouse with GUI Automation</a></li>
			<li class="page_item page-item-241 current_page_item"><a href="/appendixa/">Appendix A &#8211; Installing Third-Party Modules</a></li>
			<li><a href="/appendixb/">Appendix B &#8211; Running Programs</a></li>
			<li><a href="/appendixc/">Appendix C &#8211; Answers to the Practice Questions</a></li>
			</ul>


<h2>Review Book Offer<a name="review"></a></h2>

	<p>If you'd like to receive a free print copy of Coding with Minecraft, please email the author at <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a>. You'll receive a free ebook to read, and upon posting a review to Amazon, you will receive a complementary print review copy of the book. (Previous offers have been resulted in a flood of responses, and not all reviewers were able to receive a print copy in addition to the ebook.)</p>

	<p>Please post an honest review. You will receive a print book no matter what your rating is. The only requirements are that the review be a minimum of 100 words, you must live within the United States (due to shipping costs), that you must have purchased $50 of products off Amazon (to be eligible to post Amazon reviews), and that you email me first before writing the review.</p>

	<p>Thanks!</p>


<h2>Additional Content</h2>

			<ul>
			<li><a href="https://www.nostarch.com/download/Automate_the_Boring_Stuff_onlinematerials.zip">Download files used in the book</a></li>
			<li><a href="/list-of-css-selector-tutorials.html">List of CSS Selector Tutorials</a></li>
			<li><a href="/list-of-json-apis.html">List of JSON APIs</a></li>
			<li><a href="/list-of-programming-practice-sites.html">List of Programming Practice Sites</a></li>
			<li><a href="/list-of-web-comics.html">List of Web Comics</a></li>
			<li><a href="/schedulers.html">Schedulers for Windows, Mac, and Linux</a></li>
			<li><a href="/how-to-do-pycon.html">How to Do PyCon (or any tech conference)</a></li>
			</ul>


<h2>About the Author</h2>

<p>Al Sweigart is a software developer and teaches programming to kids and adults. He has written several books for beginners, including <a href="https://www.nostarch.com/scratchplayground">Scratch Programming Playground</a>, <a href="https://inventwithpython.com/hacking/">Hacking Secret Ciphers with Python</a>, <a href="https://inventwithpython.com/">Invent Your Own Computer Games with Python</a>, and <a href="https://inventwithpython.com/pygame/">Making Games with Python &amp; Pygame</a></p>


</div>
{% endblock %}
