{% extends "base.html" %}
{% set title = 'List of Programming Practice Sites' %}
{% block content %}
				
<h1>List of Programming Practice Sites</h1>

<p>Here are websites that list programming problems you can try to practice your coding skills:</p>

<ul>
<li><a href="https://www.reddit.com/r/dailyprogrammer">/r/DailyProgrammer subreddit</a></li>

<li><a href="https://projecteuler.net/archives">Project Euler</a></li>

<li><a href="http://rosalind.info/problems/list-view/?location=python-village">Rosalind Bioinformatics Problems</a></li>
</ul>

{% endblock %}
