{% extends "base.html" %}
{% set title = 'List of Web Comics' %}
{% block content %}
				
<h1>List of Web Comics</h1>

<p>Chapter 15 suggests writing multi-threaded web scrapers that can download entire web comics. Here's a few to practice with:</p>

<ul>
<li><a href="">Left-handed Toons</a></li>
<li><a href="">Bizarro</a></li>
<li><a href="">Buttersafe</a></li>
<li><a href="">Two Guys and Guy</a></li>
<li><a href="">Savage Chickens</a></li>
<li><a href="">Merc Works</a></li>
<li><a href="">Channelate</a></li>
<li><a href="">Lunar Baboon</a></li>
<li><a href="">Completely Serious Comics</a></li>
<li><a href="">Extra Ordinary</a></li>
<li><a href="">Nineteen Letters Long</a></li>
<li><a href="">Wonderella</a></li>
<li><a href="">Moonbeard</a></li>
<li><a href="">Happle Tea</a></li>
</ul>

{% endblock %}
