{% extends "base.html" %}
{% set title = 'List of CSS Selector Tutorials' %}
{% block content %}
				
<h1>List of CSS Selector Tutorials</h1>

<p>Here's a list of CSS selector tutorials and examples:</p>

<ul>
<li><a href="http://www.w3.org/TR/CSS2/selector.html">W3C Selector Reference</a></li>
<li><a href="http://ryanstutorials.net/css-tutorial/css-selectors.php">Ryan's Tutorials: CSS Selectors</a></li>
<li><a href="http://htmldog.com/guides/css/beginner/selectors/">HTML Dog: CSS Selectors</a></li>
</ul>

{% endblock %}
