{% extends "base.html" %}
{% set title = 'List of JSON APIs' %}
{% block content %}
				
<h1>List of JSON APIs</h1>

<p>The following websites use JSON-formatted text for their APIs:</p>

<ul>
<li><a href="https://dev.twitter.com/">Twitter API</a></li>

<li><a href="https://developers.facebook.com/docs/graph-api">Facebook Social Graph API</a></li>

<li><a href="https://www.flickr.com/services/api/response.json.html">Flickr</a></li>

<li><a href="https://developers.google.com/youtube/2.0/developers_guide_json?csw=1">YouTube</a></li>

<li><a href="https://wiki.openstreetmap.org/wiki/Api">OpenStreetMap</a></li>

<li><a href="https://developers.google.com/maps/">Google Maps</a></li>

<li><a href="https://api.imgur.com/">Imgur API</a></li>

<li><a href="http://www.programmableweb.com/news/26-weather-apis-12-support-json/2012/01/11">26 Weather APIs</a></li>

<li><a href="http://developer.rottentomatoes.com/docs/read/JSON">Rotten Tomatoes</a></li>

<li><a href="http://www.reddit.com/dev/api">Reddit</a></li>
</ul>

{% endblock %}
