{% extends "base.html" %}
{% set title = 'List of Web Comics' %}
{% block content %}

<h1>List of Web Comics</h1>

<p>Chapter 15 suggests writing multi-threaded web scrapers that can download entire web comics. Here's a few to practice with:</p>

<ul>
<li><a href="http://www.lefthandedtoons.com/">Left-handed Toons</a></li>
<li><a href="http://buttersafe.com/">Buttersafe</a></li>
<li><a href="http://www.savagechickens.com/">Savage Chickens</a></li>
<li><a href="http://www.lunarbaboon.com">Lunar Baboon</a></li>
<li><a href="http://completelyseriouscomics.com/">Completely Serious Comics</a></li>
<li><a href="http://www.exocomics.com/">Extra Ordinary</a></li>
<li><a href="http://nonadventures.com">Wonderella</a></li>
<li><a href="http://moonbeard.com/">Moonbeard</a></li>
<li><a href="http://www.happletea.com/">Happle Tea</a></li>
</ul>

{% endblock %}
