{% extends "base.html" %}
{% set title = 'Schedulers' %}
{% block content %}
				
<h1>Schedulers</h1>

<p>Each operating system comes with its own way of scheduling process. This page contains tutorial links for each.</p>

<p>Windows - Task Scheduler:</p>

<ul>
<li>How to Automatically Run Programs and Set Reminders With the Windows Task Scheduler</li>
<li>Lesson 2: Using Task Scheduler to Run Processes Later</li>
<li>Schedule a Task</li>
<li>How to Start the Task Scheduler & Use the Basic Task Wizard</li>

<p>OS X - launchd</p>

<li>Mac crontab - Mac OS X startup jobs with crontab, er, launchd</li>
<li>Schedule jobs using launchd</li>
<li>Mac OS X launchd examples (launchd plist example files)</li>

<p>Linux - cron</p>

<li>Howto set-up a crontab file</li>
<li>HowTo: Add Jobs To cron Under Linux or UNIX?</li>
<li>CRONTAB Tutorial</li>
<li>Linux Crontab: 15 Awesome Cron Job Examples</li>

{% endblock %}
