send2trash==1.5.0
requests==2.21.0
beautifulsoup4==4.7.1
selenium==3.141.0
openpyxl==2.6.1
PyPDF2==1.26.0
python-docx==0.8.10
imapclient==2.1.0
pyzmail36==1.0.4
twilio
pillow==5.4.1
PyInputPlus==0.2.6
ezgmail==0.0.4
ezsheets==0.0.2
pyobjc-core==5.1.2
pyobjc==5.1.1
pyautogui==0.9.42