<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/automate_website.css" />
  <title>{{title}}</title>
</head>

<body>
  <div class="top_header">
  <a href="https://automatetheboringstuff.com/">Home</a> | <a href="https://www.nostarch.com/automatestuff">Buy on No Starch Press</a> | <a href="http://www.amazon.com/gp/product/1593275994/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593275994&linkCode=as2&tag=playwithpyth-20&linkId=HDM7V3T6RHC5VVN4">Buy on Amazon</a> | <a href="">Donate</a> | <a href="https://twitter.com/AlSweigart">@AlSweigart</a></div>

  <div>UNDER CONSTRUCTION: The site went down and backups failed, so this website will look messy for a while. Thanks for your patience! -Al</div>

  <div class="main">
	{% block content %}{% endblock %}

	<div><center>Support the author by purchasing the print &amp; ebook bundle from <a href="https://www.nostarch.com/automatestuff">No Starch Press</a> or separately on <a href="http://www.amazon.com/gp/product/1593275994/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593275994&linkCode=as2&tag=playwithpyth-20&linkId=HDM7V3T6RHC5VVN4">Amazon</a>.</center></div>

	<div><center><a href="http://www.amazon.com/gp/product/1593275994/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593275994&linkCode=as2&tag=playwithpyth-20&linkId=HDM7V3T6RHC5VVN4"><img src="/images/automate_small_cover.png" /></a></center></div>

	<div><center>Read the author's other Creative Commons licensed Python books.</center></div>

	<div><center>
		<a href="https://inventwithpython.com/"><img src="/images/smallcover_invent.png" alt="Invent with Python book cover thumbnail" style="width: 200px" /></a> 
		<a href="https://inventwithpython.com/pygame/"><img src="/images/smallcover_makinggames.png" alt="Making Games with Python and Pygame book cover thumbnail" style="width: 200px" /></a>
		<a href="https://inventwithpython.com/hacking/"><img src="/images/smallcover_hacking.png" alt="Hacking Secret Ciphers with Python book cover thumbnail" style="width: 200px" /></a> 
		</center>
	</div>

  </div>

</body>
</html>